.hero-right img {
  width: 100%;
}
.hero-main {
  padding: 60px 0px;
  color: #252585;
}

.hero-left h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0px;
}
.hero-left button {
  background: #252585;
}
.hero-left button {
  background: #252585;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
