.main-footer {
  background: #252585;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  margin-top: 60px;
  text-align: left;
  padding: 60px 0px;
}
.footer-description {
  text-align: center;
}

.footer-links ul li {
  list-style: none;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.social-media ul li a svg {
  color: #fff;
  font-size: 30px;
}
.footer-description {
  text-align: left;
  margin-left: 40px;
}
.social-media ul {
  margin-top: 25px;
}
